<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">
  <targets async="true">
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target name="criticals" xsi:type="File"
            layout="${longdate} ${logger}|${pad:padding=5:inner=${level:uppercase=true}}|${message}"
            fileName="${basedir}/logs/criticals_${shortdate}.log"
            keepFileOpen="true"
            encoding="utf-8"  >
    </target>

    <target name="database" xsi:type="Database" dbProvider="Npgsql.NpgsqlConnection, Npgsql" connectionString="${gdc:item=grp}">
      <commandText>
        select grp.web_logging (null, @Logged, @Level, @Message, @Logger, @Callsite, @Exception, @service);
      </commandText>

      <parameter name="@logged" layout="${longdate}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />

      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />

      <parameter name="@service" layout="${gdc:item=service}" />
    </target>

  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="coloredConsole, database" />
    <logger name="*" minlevel="Error" writeTo="criticals" />
  </rules>
</nlog>